.footer {
  color: $color-blanco;
  margin-top: 15px;
  .copyright {
    border-top: solid 1px $color-blanco;
    margin-top: 10px;
    p {
      padding-top: 15px;
    }
  }
}

@mixin social($color, $transition: none) {
  color: $color;
  @if $transition != "none" {
    transition: all 0.2s ease;
  }
}

.social-container {
  a {
    text-decoration: none;
  }
  .fa-stack {
    width: 2em;
    margin-bottom: 1.25rem;
    margin-right: 0.375rem;
    font-size: 1.5rem;
    &:hover {
      .fa-stack-1x {
        @include social($color-blanco);
      }
      .fa-stack-2x {
        @include social($color-azul);
      }
    }
    .fa-stack-1x {
      @include social($color-azul, yes);
    }
    .fa-stack-2x {
      @include social($color-blanco, yes);
    }
  }
}
